<ion-header>

    <ion-navbar>
        <ion-title>
            Liste des entreprises
        </ion-title>
    </ion-navbar>

    <ion-list>
        <ion-item>
            <ion-label>Filtre</ion-label>
            <ion-select [(ngModel)]="filtre" multiple="true" cancelText="Uch..." okText="Go!">
                <ion-option *ngFor="let skill of skills" value="{{ skill.id }}" selected="false">
                    {{ skill.name }}
                </ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

</ion-header>

<ion-content>

    <ion-list>
        <ion-item-sliding *ngFor="let business of businesses">
            <ion-item>
                <ion-avatar item-start>
                    <img src="{{ business.logo }}">
                </ion-avatar>
                <h2>{{ business.name }}</h2>
                <ion-badge color="light" *ngFor="let skill of business.skills">{{ skill.name }}</ion-badge>
                <ion-icon name="arrow-dropleft" item-end></ion-icon>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary">
                    <ion-icon name="text"></ion-icon>
                    Sms
                </button>
                <button ion-button color="secondary">
                    <ion-icon name="call"></ion-icon>
                    Call
                </button>
                <button ion-button color="light" (click)="push(business.id)">
                    <ion-icon name="information-circle"></ion-icon>
                    Plus...
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
